<div class="row woodBG mx-0">
    <div class="col-3 whiteT">
        <h3 class="center">established 2020</h3>
        <h3 class="center">©2020 esteban. Most rights reserved.</h3>
    </div>
    <div class="col-3 whiteT">
        <h3 class="center">text</h3>
        <p class="center">text</p>
    </div>
    <div class="col-3 whiteT">
        <h3 class="center">text</h3>
        <a routerLink="#" routerLinkActive="active">
            <p class="whiteT center">texts</p>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <p class="whiteT center">Texts</p>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <p class="whiteT center">texts</p>
        </a>
    </div>
    <div class="col-3 whiteT">
        <h3 class="center">other</h3>
        <a href="https://www.instagram.com/codestackacademy/">
            <p class="whiteT center">Instagram</p>
        </a>
        <a href="https://twitter.com/CodeStackStkn">
            <p class="whiteT center">Twitter</p>
        </a>
        <a href="https://www.youtube.com/user/cedrsystems">
            <p class="whiteT center">YouTube</p>
        </a>
    </div>
</div>