<!-- there is a huge complication with this page, as the opacity css changes everything within the set
piece making everything opaque and not just the item selected. #cssproblems #its2020fixit #notcool -->
<div class="row center whiteText fadedd foot">
    <h1>Product name</h1>
</div>
<div class="container-fluid itemPage">
    <div class="row lower bruh fadedd">
        <div class="col">
            <!-----------------------------------dronepicr----------------------------------------->
            <img src="https://live.staticflickr.com/4385/36042601693_e10eb50a9b_b.jpg" class="img-fluid">
        </div>
        <div class="col center">
            <h1 class="whiteText center">product name</h1>
            <h1 class="whiteText center">price</h1>
            <button type="button" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
    <div class="row bruh higher fadedd">
        <div class="col center whiteText">
            <h2>product info</h2>
            <h3>descrption descrption descrption descrption descrption descrption descrption descrption descrption descrption descrption descrption descrption descrption </h3>
        </div>
    </div>
</div>