<div class="row center heroImage">
    <h1 class="whiteText WelcomeMsg">Keyboard</h1>
</div>
<!-----------------------row 1----------------------->
<!-- Luke Hodde @gamevogue https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80 -->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 2----------------------->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 2----------------------->
<!-----------------------row 3----------------------->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 3----------------------->
<!-----------------------row 4----------------------->
<div class="row lower higher">
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://images.unsplash.com/photo-1529961172671-d48e8280f846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=713&q=80"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 4----------------------->