<div class="row center heroImage bord">
    <h1 class="whiteText WelcomeMsg">Welcome!</h1>
</div>
<!--routerLink="/crisis-center" routerLinkActive="active"-->
<div class="row bord">
    <div class="col-6 px-0 bord">
        <a href="#"><img src="https://images.unsplash.com/photo-1482855549413-2a6c9b1955a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="Controls" style="width:100%; height: 100%;">
        <div class="cent whiteText"><h1>Controls</h1></div></a>
    </div>
    <div class="col-6 px-0 bord">
        <a href="#"><img src="https://images.unsplash.com/photo-1570378164207-c63f4e4f0563?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80"
            alt="Keyboards" style="width:100%; height: 100%;">
            <div class="cent whiteText"><h1>Keyboards</h1></div></a>
    </div>
</div>
<div class="row bord">
    <div class="col-6 px-0 bord">
        <a href="#"><img src="https://images.unsplash.com/photo-1554576575-a4e7b6e8409d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="Mice" style="width:100%; height: 100%;">
        <div class="cent whiteText"><h1>Mice</h1></div></a>
    </div>
    <div class="col-6 px-0 bord">
        <a href="#"><img src="https://images.unsplash.com/photo-1555680202-c86f0e12f086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="PC's" style="width:100%; height: 100%;">
            <div class="cent whiteText"><h1>PC's</h1></div></a>
    </div>
</div>

<!-- 1st keyboard - blurrystock @blurrystock - https://images.unsplash.com/photo-1520092352425-9699926a9b0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80-->
<!-- xbox control - Rohit Choudhari @rohit_choudhari -https://images.unsplash.com/photo-1482855549413-2a6c9b1955a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80-->
<!-- 2nd keyboard - Artem Smus @artem92 - https://images.unsplash.com/photo-1570378164207-c63f4e4f0563?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80-->
<!-- mouse - Ricardo Resende @rresenden - https://images.unsplash.com/photo-1554576575-a4e7b6e8409d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80-->
<!-- pc - Artiom Vallat @virussinside - https://images.unsplash.com/photo-1555680202-c86f0e12f086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80-->