<div class="row center heroImage">
    <h1 class="whiteText WelcomeMsg">Controls</h1>
</div>
<!-----------------------row 1----------------------->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 2----------------------->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 2----------------------->
<!-----------------------row 3----------------------->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 3----------------------->
<!-----------------------row 4----------------------->
<div class="row lower">
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
    <div class="col-3 px-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
            class="img-fluid">
    </div>
    <div class="col-3 px-0 whiteText">
        <h3 class="center">testing</h3>
        <p class="center">description description description description</p>
        <h3 class="center">testing</h3>
    </div>
</div>
<!-----------------------row 4----------------------->