<div class="container">
    <div class="row">
        <div class="col" *ngFor='let item of productList'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{item.pName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.additionalInfo}}</h6>
                    <p class="card-text">{{item.pDesc}}</p>
                    <a routerLink="/{{item.pNameURL}}/{{item.id}}" class="card-link">
                        {{item.price}}
                    </a>
                    <button class="btn btn-primary" (click)="addToCart(item)" > + </button>
                    <a class="card-link">
                        <app-modaldesc [product]='item'></app-modaldesc>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row whiteText fadedd foot">
    <div class="col-2"></div>
    <div class="col-8 center">
        <h1>Account</h1>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary">sign out</button>
    </div>
</div>

<div class="row lower higher blackBG ">
    <div class="col foot bord">
    
        <div class="row bruh center whiteText bord">
            <h1>Cart</h1>
        </div>
        <div class="row foot lower">
            <div class="col  px-0 ">
                <img src=""
                    class="img-fluid bord">
            </div>
            <div class="col  px-0  whiteText">
            
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
        <div class="row bruh center whiteText lower bord ">
            <h3>Delete</h3>
        </div>
        <div class="row foot lower">
            <div class="col  px-0 ">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                    class="img-fluid bord ">
            </div>
            <div class="col  px-0  whiteText">
           
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
        <div class="row bruh center lower whiteText bord ">
            <h3>Delete</h3>
        </div>
        <div class="row foot lower">
            <div class="col  px-0 ">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                    class="img-fluid bord ">
            </div>
            <div class="col  px-0  whiteText">
                
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
        <div class="row bruh center whiteText lower bord ">
            <h3>Delete</h3>
        </div>
        <div class="row foot lower">
            <div class="col  px-0 ">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                    class="img-fluid bord ">
            </div>
            <div class="col  px-0  whiteText">
               
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
        <div class="row bruh center whiteText lower bord ">
            <h3>Delete</h3>
        </div>
    </div>
<div class="col bruh bord">
        <div class="row foot center whiteText bord ">
            <h1>Orders</h1>
        </div>
        <div class="row bruh lower">
            <div class="col  px-0 ">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                    class="img-fluid bord ">
            </div>
            <div class="col px-0 whiteText">
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
        <div class="row bruh lower">
            <div class="col  px-0 ">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                    class="img-fluid bord ">
            </div>
            <div class="col px-0 whiteText">
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
        <div class="row bruh lower">
            <div class="col px-0">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                    class="img-fluid bord ">
            </div>
            <div class="col px-0 whiteText">
                <p>bruh moment bruh moment bruh moment bruh moment</p>
            </div>
        </div>
    </div>
  <div class="col foot bord">
        <div class="row bruh center whiteText bord ">
            <h1>Orders</h1>
        </div>
        <div class="row">
            <div class="col whiteText foot center">
                <h1>email</h1>
                <h1>billing info</h1>
                <h1>payment options</h1>
                <h1>other</h1>
                <h1>other</h1>
                <h1>other</h1>
                <h1>other</h1>
                <h1>other</h1>
                <h1>other</h1>
                <button type="button" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
-->