<!--will be edited to the correct products-->
<!--<div class="row whiteText fadedd foot">
    <div class="col-2">
        <button type="button" class="btn btn-primary ">check out</button>
    </div>
    <div class="col-8 center">
        <h1>Account</h1>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary ">sign out</button>
    </div>
</div>
<div class="container-fluid">
    <div class="row lower higher">
        <div class="col foot bord">
            
            <div class="row bruh center whiteText bord">
                <h1>Cart</h1>
            </div>
            <div class="row foot lower">
                <div class="col-2 px-0 ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                        class="img-fluid bord">
                </div>
                <div class="col-7  px-0  whiteText">
                    <p>bruh moment bruh moment bruh moment bruh moment</p>
                </div>
                <div class="col-1 px-0 whiteText">
                    <h1>$69</h1>
                </div>
                <div class="col-2  px-0  whiteText center">
                    <button type="button" class="btn btn-primary">check out</button>
                </div>
            </div>
            <div class="row bruh center whiteText lower bord ">
                <h3>Delete</h3>
            </div>
            <div class="row foot lower">
                <div class="col-2 px-0 ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                        class="img-fluid bord">
                </div>
                <div class="col-7  px-0  whiteText">
                    <p>bruh moment bruh moment bruh moment bruh moment</p>
                </div>
                <div class="col-1 px-0 whiteText">
                    <h1>$69</h1>
                </div>
                <div class="col-2  px-0  whiteText center">
                    <button type="button" class="btn btn-primary">check out</button>
                </div>
            </div>
            <div class="row bruh center whiteText lower bord ">
                <h3>Delete</h3>
            </div>
            <div class="row foot lower">
                <div class="col-2 px-0 ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                        class="img-fluid bord">
                </div>
                <div class="col-7  px-0  whiteText">
                    <p>bruh moment bruh moment bruh moment bruh moment</p>
                </div>
                <div class="col-1 px-0 whiteText">
                    <h1>$69</h1>
                </div>
                <div class="col-2  px-0  whiteText center">
                    <button type="button" class="btn btn-primary">check out</button>
                </div>
            </div>
            <div class="row bruh center whiteText lower bord ">
                <h3>Delete</h3>
            </div>
            <div class="row foot lower">
                <div class="col-2 px-0 ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft-Xbox-One-controller.jpg"
                        class="img-fluid bord">
                </div>
                <div class="col-7  px-0  whiteText">
                    <p>bruh moment bruh moment bruh moment bruh moment</p>
                </div>
                <div class="col-1 px-0 whiteText">
                    <h1>$69</h1>
                </div>
                <div class="col-2  px-0  whiteText center">
                    <button type="button" class="btn btn-primary">check out</button>
                </div>
            </div>
            <div class="row bruh center whiteText lower bord ">
                <h3>Delete</h3>
            </div>
            
        </div>
    </div>
</div>
-->
{{productDesc.pName}} <br>
{{productDesc.id}}<br>
{{productDesc.additionalInfo}}<br>
{{productDesc.pDesc}}<br>
{{productDesc.price}}<br>