<!--footer will have more items, but for now just that as I finish the layout-->
<div class="row foot">
    <div class="col whiteText">
        <h4 class="center">established 2020</h4>
        <h4 class="center">©2020 Dragames. Most rights reserved.</h4>

    </div>
    <div class="col whiteText">
        <h2 class="center">contact us</h2>
        <p class="center">(209)555-5555</p>
    </div>
    <div class="col whiteText">
        <h2 class="center">info</h2>
        <a routerLink="/faqtos" routerLinkActive="active"><p class="whiteText center">faqs</p></a> 
        <a routerLink="/faqtos" routerLinkActive="active"><p class="whiteText center">Terms of service</p></a>
        <a routerLink="/faqtos" routerLinkActive="active"><p class="whiteText center">Credits</p></a>
    </div>
    <div class="col whiteText">
        <h2 class="center">other</h2>
        <a href="https://www.instagram.com/codestackacademy/"><p class="whiteText center">Instagram</p></a>
        <a href="https://twitter.com/CodeStackStkn"><p class="whiteText center">Twitter</p></a>
        <a href="https://www.youtube.com/user/cedrsystems"><p class="whiteText center">YouTube</p></a>
    </div>
</div>