<!--done for now-->
<div class="row whiteText lower higher wxboControl">
    <div class="col-3">
        <h1 class="higher center">Faqs</h1>
        <h3>Why do we need an account to order products?</h3>
        <p>We make sure that you sign up with in order to order products so we can keep better track of everything.
            Not only that, but it will make it easier to order more items in the future.</p>
        <h3>What happens if a product doesn't arrive?</h3>
        <p>Every product is tracked, so if a product doesn't arrive, the team will get into contact with
            the shipping company to see if anything went wrong, and if it's just not delayed.
            You will be reimbursed for any damages or lost items.</p>
        <h3>What If I get the wrong product, or a product that is different than from what I bought?</h3>
        <p>If you get the wrong product, we will send an empty box with return postage paid.
            Simply place the product inside with a copy of your order(proof of purchase)
            and the team will send the correct product back with and a code for 10% off your next order.</p>
        <h3>What happens if someone steals my package?</h3>
        <p>Unfortunately we can not do anything if your product gets stolen or damaged
            by outside factors after a confirmed delivery. That is something in which you,
            the customer, would have to be in charge of.</p>
    </div>
    <!---------------------------------------------------------------------------------------------->
    <div class="col-6 tos faded">
        <h1 class="center higher">Terms of service</h1>
        <!--adapted from amazon's tos-->
        <p>This is an agreement between you and our Digital Services LLC (with its affiliates, “we”). Please read these
            Services Terms of Use and the other applicable rules, policies, and terms available at this website, or on
            or through this Software (collectively, this “Agreement”) before using our Services on a Product. By using
            our Services, you agree to be bound by the terms of this Agreement. If you do not accept the terms of this
            Agreement, then you may not use our Services and you may return your Product in accordance with any
            applicable return policy. Your use of any of our services is subject to any additional rules, policies, and
            terms that apply to our Services.</p>
        <p>For the purpose of our Services Terms of Use:</p>
        <p>“Our Services” means the provision of Our Software, Digital Content, and support and other services that we
            provide Product users.</p>
        <p>“Our Software” means all software we make available to you for use on a Product, but excludes third-party
            Digital Content.</p>
        <p>“Digital Content” means digitized content (including third-party content), such as videos, music, apps,
            games, skills, photos, audio, books, newspapers, magazines, and related features and functionality.</p>
        <p>“Product” means a Fire TV Edition device that is developed and manufactured by a third party and enables
            access to our Services.</p>
        <p><b>1. Our Services, Our Software</b></p>
        <p><b>a. Use of Our Services on a Product.</b>To use certain of our services on a Product, you must have your
            own account, be logged in to your account on the Product, and have a valid payment method associated with
            your account.</p>
        <p><b>b. Use of Software.</b> Except as provided in this section, you may use the Software only on your Product.
            For additional terms that apply to the Software, see the Additional Software Terms. Software licensed under
            an open source license is governed solely by the terms of that open source license.</p>
        <p><b>c. Voice Services.</b> Your Product may have features that allow you to access voice services or perform
            certain tasks, such as control your Product, perform a search, check the weather, or operate other connected
            products. When you use voice services, we process your voice input and other information (such as location)
            in the cloud to respond to your requests and to improve your experience and our services. Your use of voice
            products is subject to their own Terms of Use.</p>
        <p><b>2. Connectivity and Availability</b></p>
        <p><b>a. Internet Connectivity.</b> Our Services may require an Internet connection from a third-party provider
            in order to use some features. In such cases, your Internet connection is subject to the fees, restrictions,
            terms and limitations imposed by your provider.</p>
        <p><b>b. Availability.</b> Some of our Services may be unavailable, vary (by product or geography, for example),
            be offered for a limited time, or require separate subscriptions.</p>
        <p><b>3. General</b></p>
        <p><b>a. Information Received.</b> Our Software may provide us with information about your Product, use of the
            Product, and use of Digital Content, other content, and the Services (such as search queries, installed
            applications, viewing and usage data, available memory, log files, network diagnostics, voice information,
            and connectivity). Manufacturers of your Product may also provide us with similar information. Information
            provided to us may be processed in the cloud to improve your experience and our services, and may be stored
            on servers outside the country in which you live. We will handle any information we receive in accordance
            with our privacy note. </p>
        <p><b>b. Information Provided To Others.</b> You are responsible for any information you provide to others,
            including third-party Digital Content providers. Use of information you provide to these third parties will
            be subject to any privacy notice or other terms that they may provide to you.</p>
        <p><b>c. Changes to Services; Amendments.</b> We may change, suspend, or discontinue Our Services, or any part
            of them, at any time without notice. We may amend any of this Agreement's terms at our sole discretion by
            posting the revised terms on the website. Your continued use of Our Services after the effective date of the
            revised Agreement constitutes your acceptance of the terms.</p>
        <p><b>d. Termination.</b> Your rights under this Agreement will automatically terminate without notice if you
            fail to comply with any of its terms. In case of such termination, we may immediately revoke your access to
            our services. Our failure to insist upon or enforce your strict compliance with this Agreement will not
            constitute a waiver of any of its rights.</p>
        <p><b>e. Disputes/Binding Arbitration. Any dispute or claim arising from or relating to this Agreement, a
                Product, our Software, or our Services is subject to the binding arbitration, governing law, disclaimer
                of warranties, limitation of liability, and all other terms in our terms and conditions. You agree to
                those terms by entering into this Agreement, or using a Product or our services.</b></p>
        <p><b>f. Disclaimer of Warranties and Limitation of Liability. Products are developed and manufactured by third
                parties, and we have no responsibility or liability for any aspect of Products except our Services.
                Without limiting the Disclaimer of Warranties and Limitation of Liability terms in our terms and
                conditions, unless otherwise required by applicable law, in no event will our or our licensors'
                aggregate liability with respect to any claim arising from or related to this Agreement or your use of
                our Services exceed fifty dollars ($50.00).</b></p>
        <p><b>g. Contact Information.</b> For help with our Services, Digital Content, our software or resolving other
            related issues, please contact us. </p>
    </div>
    <!---------------------------------------------------------------------------------------------->
    <div class="col-3">
        <h1 class="higher center">Credits</h1>
        <h3 class="center">credits for help, or use of pictures, etc</h3>
        <p>Sebastian DC, @sebastiandc on unsplash - untitled</p>
        <p>Mendar Bouchali, @mendarb on unsplash - blue dragon</p>
        <p>Jon Tyson, @jontyson on unsplash - untitled</p>
        <p>Florian Olivo, @rxspawn on unsplash - overwatch</p>
        <p>blurrystock, @blurrystock on unsplash - Mechanical Gaming Keyboard Orange LED</p>
        <p>designfreelogoonline.com - logo</p>
        <p>Rohit Choudhari, @rohit_choudhari on unsplash - untitled</p>
        <p>Artem Smus, @artem92 on unsplash - keyboard</p>
        <p>Ricardo Resende, @rresenden on unsplash - untitled</p>
        <p>Artiom Vallat, @virussinside on unsplash - untitled</p>
        <p>Luke Hodde, @gamevogue on unsplash - I built this PC for my local library and took this photo for them and
            anyone else to use.</p>
        <p>amazon.com - items</p>
    </div>
</div>