<div class="card" style="width: 18rem;">
    <img src="https://vignette.wikia.nocookie.net/clashroyale/images/5/51/GuardsCard.png/revision/latest/top-crop/width/360/height/450?cb=20171212204806" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p> <p class="card-text"></p>
      <p class="card-text"></p> <p class="card-text"></p>
      <p class="card-text"></p> <p class="card-text"></p>
      <p class="card-text"></p> <p class="card-text"></p>
      <p class="card-text"></p> <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>
  </div>